@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');



:root{
  --black: #192a56;
  --light-color: #666; 
  --whitepink:#ffd5c0;
  --blackpink:#FF748C;
  --box-shadow: 0 .5rem  1.5rem rgba(0,0,0,.1);
  --main-color:#da6285;
  --pink-color:#ff8e9d;
  --pink-opacity:#ffe6e9;
} 
*{
    font-family:'Nunito',sans-serif ;
    margin: 0;padding: 0;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition:  .2s linear;
    } 
html{
    font-size: 62.5%;
}

section{
  padding: 2rem 9%;
}

.home .content {
display: flex;
align-items: center;
flex-wrap: wrap ;
padding-top: 9rem;
}
.home .content .slide{
  flex: 1 1 45rem;
}
.home .content .slide .image img{
  flex: 1 1 45rem;
}

.home .slide .image img{
  width: 100%;
}
.home .content .slide h2{
  color: var(--main-color);
  font-size: 2.5rem;
}
.home .content .slide h3{
  color: black;
  font-size: 1.5rem;
  padding: .5rem;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--pink-opacity);
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}
.btn:hover{
  background:var(--blackpink) ;
}

