@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');



:root{
    --black: #192a56;
    --light-color: #666; 
    --whitepink:#ffd5c0;
    --blackpink:#FF748C;
    --box-shadow: 0 .5rem  1.5rem rgba(0,0,0,.1);
    --main-color:#da6285;
    --pink-color:#ff8e9d;
    --pink-opacity:#ffe6e9;
} 
*{
    font-family:'Nunito',sans-serif ;
    margin: 0;padding: 0;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition:  .2s linear;
    } 
html{
    font-size: 62.5%;
}
.soups{
    margin: 0 auto;
   padding: 3rem 2rem;
   margin-bottom: 3rem;
}

.sub-heading{
    text-align: center;
    font-size: 3.5rem;
    color: var(--blackpink);
    padding-top: 10rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.soups .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,.5fr));
    gap: 2rem;
    
}


.soups .box-container .box{
    padding: 1rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 345px;
    
}
.soups .box-container .box img{
    width:90%;
    height: auto;
    margin:  .5rem 0;
}
/* .soups .box-container .box .soup-btn {
    color: var(--green);
    background: #eee;
    border-radius: 50%;
    top: 100%;
    right: 5rem;
} */


.soups .box-container .box img:hover{
    width:100%;
    height: auto;
    margin: 1rem 0;
}

.soups .box-container .box .fa-heart{
    position: absolute;
    top: 1rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    color: var(--black);
}

.soups .box-container .box .fa-heart:hover{
    background: var(--pink-color);
    color: #fff;
}


.soups .box-container .box .fa-heart{
    right: -15rem;
}
.soups .box-container .box:hover .fa-heart{
    right: .5rem;
} 


.soups .box-container .box h3{
    color: var(--black);
    font-size: 2rem;
}


.soups .box-container .box span{
    color:var(--black);
    font-weight: bolder;
    margin-right: 5rem;
    font-size: 2rem;
}



.cart-btn{
    padding: 1rem 2rem;
    height: 5rem;width: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    background-color:#ff9baa ;
    color: black;
    border-radius: 3rem;
}
.cart-btn:hover{
    background: #ff697f;
    
}

