body{
            background-color: #fff;
        }
        .sign{
            width: 25rem;
            height: 38rem;
            margin: auto;
            background-color: #eee;
            border-radius: 0.5rem;
        }
        .login{
            width: 25rem;
            height: 25rem;
            background-color: #eee;
            margin: auto;
            border-radius: 0.5rem;
        }
        h1{
            text-align: center;
            padding-top: 3rem;
        }
        h4{
            text-align: center;
        }
        form{
            width: 20rem;
            margin-left: 1rem;
        }
        form label{
            display: flex;
            margin-top: 1rem;
            font-size: 1rem;
        }
        form input{
            width: 100%;
            padding: 0.5rem;
            border: none;
            border: 0.2rem solid  black;
            border-radius: 0.5rem;
            outline: none;
        }
        input[type="Submit"]{
            width: 5rem;
            height: 2rem;
            margin-top: 1rem;
            border: none;
            background-color: rgb(192, 34, 82);
            color: white;
            font-size: 1rem;
        }
        p{
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
        }
        .end{
            text-align: center;
            color: black;
            font-size: 1rem;
            margin-top: -1rem;
        }
        .end a{
            color: blueviolet;
        }



